In [1]:
pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.12/dist-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in /usr/local/lib/python3.12/dist-packages (from pandas) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.12/dist-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.12/dist-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.12/dist-packages (from pandas) (2025.3)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.12/dist-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [3]:
import pandas as pd

orders = pd.read_csv('/content/innomatics/orders.csv')
print("Orders loaded. Shape:", orders.shape)

Orders loaded. Shape: (10000, 6)

In [4]:

users = pd.read_json('/content/innomatics/users.json')
print("Users loaded. Shape:", users.shape)

Users loaded. Shape: (3000, 4)

In [6]:
import sqlite3

conn = sqlite3.connect(':memory:')

with open('/content/innomatics/restaurants.sql', 'r') as f:
    sql_script = f.read()
conn.executescript(sql_script)


restaurants = pd.read_sql_query("SELECT * FROM restaurants", conn)
print("Restaurants loaded. Shape:", restaurants.shape)

Restaurants loaded. Shape: (500, 4)

In [7]:

merged_data = orders.merge(users, on='user_id', how='left')


final_df = merged_data.merge(restaurants, on='restaurant_id', how='left', suffixes=('_order', '_rest'))

In [8]:

final_df.to_csv('/content/innomatics/final_food_delivery_dataset.csv', index=False)
print("Final dataset created successfully!")

Final dataset created successfully!

# **final dataset mergerd**

***solving page 1 :***

In [28]:
import pandas as pd
my_data = pd.read_csv('/content/innomatics/final_food_delivery_dataset.csv')


only_gold_people = my_data[my_data['membership'] == 'Gold']


city_gold_vault = only_gold_people.groupby('city')['total_amount'].sum()
print("Total Gold Money by the City: ")
print(city_gold_vault.sort_values(ascending=False))

Total Gold Money by the City:
city
Chennai      1080909.79
Pune         1003012.32
Bangalore     994702.59
Hyderabad     896740.19
Name: total_amount, dtype: float64

In [30]:

food_price_report = my_data.groupby('cuisine')['total_amount'].mean()
print("Average Price per the  Cuisine:")
print(food_price_report.sort_values(ascending=False))

Average Price per the  Cuisine:
cuisine
Mexican    808.021344
Italian    799.448578
Indian     798.466011
Chinese    798.389020
Name: total_amount, dtype: float64

In [31]:

user_piggy_banks = my_data.groupby('user_id')['total_amount'].sum()
big_spenders = user_piggy_banks[user_piggy_banks > 1000]
print(f"Number of big spenders: {len(big_spenders)}")

Number of big spenders: 2544

In [32]:
rating_boxes = [3.0, 3.5, 4.0, 4.5, 5.0]
box_labels = ['3.0-3.5', '3.6-4.0', '4.1-4.5', '4.6-5.0']

my_data['star_rating_group'] = pd.cut(my_data['rating'], bins=rating_boxes, labels=box_labels)
star_power_revenue = my_data.groupby('star_rating_group')['total_amount'].sum()
print(star_power_revenue.sort_values(ascending=False))

star_rating_group
4.6-5.0    2197030.75
4.1-4.5    1960326.26
3.0-3.5    1881754.57
3.6-4.0    1717494.41
Name: total_amount, dtype: float64

/tmp/ipython-input-3464486756.py:5: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  star_power_revenue = my_data.groupby('star_rating_group')['total_amount'].sum()

In [33]:

gold_birds = my_data[my_data['membership'] == 'Gold']
gold_city_averages = gold_birds.groupby('city')['total_amount'].mean()
print("Average Gold Bill by City:")
print(gold_city_averages.sort_values(ascending=False))

Average Gold Bill by City:
city
Chennai      808.459080
Hyderabad    806.421034
Bangalore    793.223756
Pune         781.162243
Name: total_amount, dtype: float64

In [34]:

cuisine_variety = my_data.groupby('cuisine')['restaurant_id'].nunique()
print("Number of Unique Restaurants per Cuisine:")
print(cuisine_variety.sort_values())

cuisine_money = my_data.groupby('cuisine')['total_amount'].sum()
print("\nTotal Money per Cuisine:")
print(cuisine_money)

Number of Unique Restaurants per Cuisine:
cuisine
Chinese    120
Indian     126
Italian    126
Mexican    128
Name: restaurant_id, dtype: int64

Total Money per Cuisine:
cuisine
Chinese    1930504.65
Indian     1971412.58
Italian    2024203.80
Mexican    2085503.09
Name: total_amount, dtype: float64

In [38]:

all_orders_count = len(my_data)
gold_orders_count = len(my_data[my_data['membership'] == 'Gold'])

gold_percentage = (gold_orders_count / all_orders_count) * 100
print(f"Percentage of the  Gold orders: {(gold_percentage)}%")

Percentage of the  Gold orders: 49.87%

In [39]:

shop_stats = my_data.groupby(['restaurant_id', 'restaurant_name_order']).agg(
    total_visits=('order_id', 'count'),
    avg_bill=('total_amount', 'mean')
)
small_shops = shop_stats[shop_stats['total_visits'] < 20]
print("Top expensive small restaurants:")
print(small_shops.sort_values(by='avg_bill', ascending=False).head(5))

Top expensive small restaurants:
                                           total_visits     avg_bill
restaurant_id restaurant_name_order
294           Hotel Dhaba Multicuisine               13  1040.222308
262           Hotel Cafe Punjabi                     18  1029.473333
77            Sri Mess Punjabi                       12  1029.180833
193           Swagath Eatery Multicuisine            15  1026.306667
7             Ruchi Biryani Punjabi                  16  1002.140625

In [40]:

mega_combo = my_data.groupby(['membership', 'cuisine'])['total_amount'].sum()
print("Money made by different combinations:")
print(mega_combo.sort_values(ascending=False))

Money made by different combinations:
membership  cuisine
Regular     Mexican    1072943.30
            Italian    1018424.75
Gold        Mexican    1012559.79
            Italian    1005779.05
Regular     Indian      992100.27
Gold        Indian      979312.31
            Chinese     977713.74
Regular     Chinese     952790.91
Name: total_amount, dtype: float64

In [41]:

my_data['order_date'] = pd.to_datetime(my_data['order_date'])
my_data['year_quarter'] = my_data['order_date'].dt.to_period('Q')
quarterly_money = my_data[my_data['order_date'].dt.year == 2023].groupby('year_quarter')['total_amount'].sum()
print("Revenue by Quarter:")
print(quarterly_money.sort_values(ascending=False))

Revenue by Quarter:
year_quarter
2023Q3    2037385.10
2023Q4    2018263.66
2023Q1    1993425.14
2023Q2    1945348.72
Freq: Q-DEC, Name: total_amount, dtype: float64

/tmp/ipython-input-1695413816.py:1: UserWarning: Parsing dates in %d-%m-%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  my_data['order_date'] = pd.to_datetime(my_data['order_date'])

# **Page 2 :**

In [52]:
delivery_data = pd.read_csv('/content/innomatics/final_food_delivery_dataset.csv')
gold_club_orders = delivery_data[delivery_data['membership'] == 'Gold']
total_gold = len(gold_club_orders)
print('the total orders by the gold users :',total_gold)


hyderabad_orders = delivery_data[delivery_data['city'] == 'Hyderabad']
hyderabad_cash_flow = hyderabad_orders['total_amount'].sum()
print("Hyderabad Total Revenue: ",(hyderabad_cash_flow))


unique_hungry_users = delivery_data['user_id'].nunique()
print(f"Number of distinct users: {unique_hungry_users}")


gold_only = delivery_data[delivery_data['membership'] == 'Gold']
avg_gold_bill = gold_only['total_amount'].mean()
print(f"Average Gold order value: {(avg_gold_bill)}")


top_rated_orders = delivery_data[delivery_data['rating'] >= 4.5]
high_rating_count = len(top_rated_orders)
print(f"Orders with rating 4.5 or more: {high_rating_count}")



gold_members = delivery_data[delivery_data['membership'] == 'Gold']
city_money_rank = gold_members.groupby('city')['total_amount'].sum()
best_gold_city = city_money_rank.idxmax()
best_city_gold_orders = gold_members[gold_members['city'] == best_gold_city]
print(f"Top Gold City: {best_gold_city}")
print(f"Orders in that city: {len(best_city_gold_orders)}")

the total orders by the gold users : 4987
Hyderabad Total Revenue:  1889366.58
Number of distinct users: 2883
Average Gold order value: 797.1455564467616
Orders with rating 4.5 or more: 3374
Top Gold City: Chennai
Orders in that city: 1337

**Thank you**